@CHARSET "UTF-8";


.btn {
	background-color : #e5e5e5;
	color : #595959;
	height : 30px;
	width : 70px;
	margin-left : 20px;
	border : 1px solid #cacaca;
	font-weight : 700;
}

.btn:hover {
	background-color : #595959;
	color : #e5e5e5;
	cursor : pointer;
}